.dub
docs.json
__dummy.html
docs/
dlangdecoratorpattern.so
dlangdecoratorpattern.dylib
dlangdecoratorpattern.dll
dlangdecoratorpattern.a
dlangdecoratorpattern.lib
dlangdecoratorpattern-test-*
*.exe
*.o
*.obj
*.lst
